<form #f="ngForm"(ngSubmit)="onSubmit(f.value)">
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="title" style="width: 50%" name="title" class="form-control" ngModel>
  </div>
  <div class="form-group">
  <label for="floatingTextarea">Comments</label>
  <textarea class="form-control" style="width: 50%"placeholder="Leave a comment here" name="comments" ngModel></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<br>
<hr>
<button class="btn btn-primary" style="margin-right: 10px">Fetch Post</button><span>
<button class="btn btn-danger">Creat Posts</button></span>
<router-outlet></router-outlet>